{% extends 'base.html' %}

{%block content%}

{% if error %}
    {{error}}
    <br/>
    <br/>
{% endif %}

<h1>Create</h1>
<form action={% url 'generateProduct' %} method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    Name:
    <br/>
    <input type="text" name="name"></input>
    <br/>
    Price:
    <br/>
    <input type="number" name="price"></input>
    <br/>
    Paid Tax:
    <br/>
    <input type="number" name="taxPaid"></input>
    <br/>
    <br/>
    <input type="submit" class="btn btn-primary" value="Add Product"></input>


</form>

{% endblock %}