<div style="background-color: #116444; height:300px;width:500px " align="center">
    <h1 >What do you want to Do?</h1>
    <br />
    <br />
    <form action = "{% url 'purchase' %}" >
        <br />
        <input type="text" name="pID" placeholder="Enter pID"></input>
        <input type="submit" value="Purchase" style="height:20px;width:100px"></input>
    </form>
    <form action = "{% url 'taxhistory' %}" >

        <input type="number" name="pID" placeholder="Enter pID"></input>
        <input type="submit" value="Tax History" style="height:20px;width:100px"></input>
    </form>
    <form action = "{% url 'getProducts' %}" method="GET">
        <input type="text" name="pID" placeholder="Enter pID"></input>
        <input type="submit" value="getProducts" style="height:20px;width:100px"></input>
    </form>
    <form action = "{% url 'generateProduct' %}">
        <input type="submit" value="generateProduct" ></input>
    </form>
</div>
