<h1>خرید محصول با موفقیت انجام شد</h1>
<div align="center">
    <form action = "{% url 'newPrice' %}" method="GET">
        <br />
        <label name="pID"> ID: </label>
        <input type="number" name="pID" placeholder={{pID}}></input>
        <br />
        <br />
        <label name="newPrice"> price:</label>
        <input type="number" name="newPrice" placeholder="Enter newPrice"></input>
        <br />
        <br />
        <input type="submit" value="submit" style="height:20px;width:100px"></input>
    </form>
</div>
