
<br />
<table border="2" , align="center">
    <th colspan="2">product Tax History</th>
    <tr>
        <td align="center">pID</td>
        <td align="center"> {{pID}} </td>
    </tr>
    <tr>
        <td align="center">numberOfupdate</td>
        <td align="center"> {{numberOfupdate}} </td>
    </tr>
    <tr>
        <td align="center">timeStamps</td>
        <td align="center"> {{timeStamps}} </td>
    </tr>
    <tr>
        <td align="center">last Paid Tax</td>
        <td align="center"> {{lastPaidTax}} </td>
    </tr>
    <tr>
        <td align="center">Total Paid Tax</td>
        <td align="center"> {{totalTax}} </td>
    </tr>
    <tr>
        <td align="center">updaterAddresses</td>
        <td align="center"> {{updaterAddresses}} </td>
    </tr>
</table>
<br/>
<a href="{% url 'home' %}">return to home page </a>

{{data}}